*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.banner1{
    height: 1000px;
    width: 100%; 
    /* note dùng linear-gradient và truyền vào 2 màu mới kết hợp với img được */
    background-image:  linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(./img/thanhxuan.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}   
.content{
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    margin-top: 20px;
    width: 500px;
    height: 800px;
}
.cherring{
    background-color : rgba(184, 177, 177, 0.849);
    min-height: 160px;
    width: 500px;
    margin:40px auto;
    color: #330000;
    padding: 30px 10px;
    font-size: 16px;
    text-align: center;
   font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}
.box{
    margin: 30px 0px;
    margin:40px auto;
    min-height: 50px;
    width: 70%;
    display: flex;
    
}
#mau1{
    background-color: rgba(156, 197, 231, 0.884);

}
#mau2{
    background-color: rgba(130, 219, 153, 0.719);
}
#mau3{
    background-color: rgba(218, 230, 118, 0.884);

}
.avatar{
    margin-right :30px;
    background-size: cover;
    height: 100px;
    width: 100px;
}
/* cách để chỉnh kích thước ảnh là dùng dùng thẻ div ôm trọn thẻ img  */
.avatar>img{ 
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.member{
    margin-top: 20px;
}
.member > h2{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.member > p{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
@media all and (max-width: 600px){
    
    .content{
    margin:20px;
    width: 400px;
    
    }
    .cherring{
    width: 300px;
    }
    .member > h2{
    font-size: 12px;
    font-family: 'Arima', cursive;
    font-weight: 700;
    }
    .member > p{
    font-size: 8px;
    font-family: 'Arima', cursive;
    }
}